// you can change colors here
$theme-color: #083b7e; // #d81159

// $font-family: 'Georgia, -apple-system, "Nimbus Roman No9 L", sans-serif';

// $theme-color: #3eaf7c !default;
$text-color: (
  light: #2c3e50,
  dark: #9e9e9e,
) !default;
$bg-color: (
  light: #fff,
  dark: #0d1117,
) !default;
$bg-color-secondary: (
  light: #f8f8f8,
  dark: #161b22,
) !default;
$bg-color-tertiary: (
  light: #efeef4,
  dark: #21262c,
) !default;
$border-color: (
  light: #eaecef,
  dark: #30363d,
) !default;

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #282a32,
) !default;
$card-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%),
) !default;

// constants
$black: (
  light: #000,
  dark: #fff,
);
$dark-grey: (
  light: #666,
  dark: #999,
);
$light-grey: (
  light: #999,
  dark: #666,
);
$white: (
  light: #fff,
  dark: #000,
);
$grey3: (
  light: #333,
  dark: #bbb,
);
$grey12: (
  light: #bbb,
  dark: #333,
);


// Palette https://coolors.co/palette/ffbc42-d81159-8f2d56-218380-73d2de

/* SCSS HEX */
$xanthous: #ffbc42ff;
$raspberry: #d81159ff;
$quinacridone-magenta: #8f2d56ff;
$teal: #218380ff;
$non-photo-blue: #73d2deff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-right: linear-gradient(90deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-bottom: linear-gradient(180deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-left: linear-gradient(270deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-top-right: linear-gradient(45deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-bottom-right: linear-gradient(135deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-top-left: linear-gradient(225deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-bottom-left: linear-gradient(315deg, #ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);
$gradient-radial: radial-gradient(#ffbc42ff, #d81159ff, #8f2d56ff, #218380ff, #73d2deff);